/* https://www.joshwcomeau.com/css/custom-css-reset/ */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.45;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* https://carbondesignsystem.com/elements/color/tokens/ */
:root {
	--background: #ffffff;
	--layer-01: #f4f4f4;
	--text-primary: #161616;
	--text-secondary: #525252;
	--text-placeholder: #a8a8a8;
}

html {
	color: var(--text-primary);
	background-color: var(--background);
	font-family: "Iosevka Aile CK Web", sans-serif;
	font-size: 14pt;
	max-width: 60ch;
	margin: 0 auto;
	text-align: left;
}

pre {
	background-color: var(--layer-01);
  overflow: auto;     /* or scroll */
  max-width: 100%;    /* prevents horizontal page overflow */
  padding: 0.2rem;
  margin: 0.5rem 0rem;
}

p + p, p + blockquote {
  margin-top: 1rem;
}

p + ul, p + ol, ol + p, ul + p {
  margin-top: 0.25rem;
}

code {
	font-family: "Iosevka CK Web", monospace;
}

body {
	counter-reset: h1;
}

h1 {
	counter-reset: h2;	
}

h2 {
	counter-reset: h3;
}

h1::before {
	counter-increment: h1;
	content: counter(h1) " ";
}

h2::before {
	counter-increment: h2;
	content: counter(h1) "." counter(h2) " ";
}

h3::before {
	counter-increment: h3;
	content: counter(h1) "." counter(h2) "." counter(h3) " ";
}

h1::before, h2::before, h3::before {
	color: var(--text-secondary);
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 1.1rem;
	margin-bottom: 0.4rem;
}

h1 {
	font-size: 1.2rem;
	font-weight: 700;
}

h2 {
	font-size: 1.1rem;
	font-weight: 700;
}

h3 {
	font-size: 1.0rem;
	font-weight: 700;
}

h4, h5, h6 {
	font-size: 1.0rem;
	font-weight: 500;
}

blockquote {
	background-color: var(--layer-01);
	padding: 0.5rem;
	font-size: 0.9rem;
}

@font-face {
	font-family: 'Iosevka CK Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('/static/fonts/IosevkaCK-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka CK Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('/static/fonts/IosevkaCK-Extended.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka CK Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('/static/fonts/IosevkaCK-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka CK Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('/static/fonts/IosevkaCK-ExtendedItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka CK Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('/static/fonts/IosevkaCK-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka CK Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('/static/fonts/IosevkaCK-ExtendedBold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka CK Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('/static/fonts/IosevkaCK-BoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka CK Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('/static/fonts/IosevkaCK-ExtendedBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile CK Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('/static/fonts/IosevkaAileCK-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile CK Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('/static/fonts/IosevkaAileCK-Extended.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile CK Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('/static/fonts/IosevkaAileCK-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile CK Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('/static/fonts/IosevkaAileCK-ExtendedItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile CK Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('/static/fonts/IosevkaAileCK-SemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile CK Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('/static/fonts/IosevkaAileCK-ExtendedSemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile CK Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('/static/fonts/IosevkaAileCK-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile CK Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('/static/fonts/IosevkaAileCK-ExtendedSemiBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile CK Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('/static/fonts/IosevkaAileCK-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile CK Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('/static/fonts/IosevkaAileCK-ExtendedBold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile CK Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('/static/fonts/IosevkaAileCK-BoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile CK Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('/static/fonts/IosevkaAileCK-ExtendedBoldItalic.woff2') format('woff2');
}
